header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid #f37021;
  height: 75px;
  width: 100%;
  box-shadow: 0px 1px 3px #575758;
  justify-content: space-between;
  z-index: 999;
  .container-menu-logo {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .container-logo-up {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;
      width: 200px;
      height: 100%;
    }

    .container-nav-icon {
      background-color: #f3722173;
      padding: 10px;
      border-radius: 200px;
      margin-left: 10px;
    }
  }

  .title-ubication {
    font-size: 36px;
    font-weight: 700;
    color: #f37021;
  }

  .options {
    .user-space {
      cursor: pointer;
      display: flex;
      height: 100%;
      align-items: center;
      gap: 10px;
      margin-right: 20px;
    }
    .user-space:hover {
      opacity: 0.7;
    }
  }
}

#nav-icon1 {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
