@keyframes ml-login {
  to {
    transform: scale(1);
    padding-top: 80px;
  }
}

@keyframes ml-login-appear-text {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes appear-menu {
  to {
    width: 350px;
  }
}
@keyframes disappear-menu {
  to {
    width: 0;
  }
}
