@import "./components/layout-styles/Footer.scss";
@import "./components/layout-styles/Header.scss";

@import "./base/resets";

@import "./pages/Login.scss";

@import "./animations.scss";

.global-login {
  background-image: url("../assets/fondoml3.svg");
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
}
