@import "./components/layout-styles/Footer.scss";
@import "./components/layout-styles/Header.scss";

@import "./base/resets";

@import "./pages/Login.scss";
@import "./pages/Home.scss";

@import "./animations.scss";

.global-login {
  background-image: url("../assets/fondoml3.svg");
  background: linear-gradient(
    -45deg,
    #585857,
    #d0d0d0,
    #245970,
    #7dafba,
    #cc1d47,
    #f37021,
    #efa220
  );
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
  overflow-y: hidden;
}
